*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body{
    background-image: url("https://images.squarespace-cdn.com/content/v1/52a23eaae4b0a695ee3d229c/1487620892549-ISXYBJMHYEWTL2UVMATI/image-asset.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;

    height: 100vh;

}
.header-container{
   color: antiquewhite;
    text-align: center;

    padding-top: 10px;
}
.sobre{
    text-align: center;
    text-justify: auto;

    justify-content: center;

    margin: 20px 10px;
    padding: 20px;

    background-color: rgba(0, 0, 0, 0.233);
}

.video{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.curiosidade{
    text-align: center;

    margin: 20px 10px;
    padding: 20px;
   
    background-color: rgba(0, 0, 0, 0.527);
    color: antiquewhite;
}
.footer-container{
    background-color: rgba(250, 235, 215, 0.315);
    height: 150px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.rede-social, img{
    width: 50px;
    height: 90px;
}
.rede-social{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;

    height: 50px;
    width: 200px;

    border-radius: 10px;

    background-color: black;
    color: antiquewhite;
    text-decoration: none;
    
    padding: 5px;
    margin-right: 10px;
}