*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 2000px;
}

.squad{
    border: 3px solid black;

    width: 150px;
    height: 150px;
}

.content{
    width: 100px;
    height: 100px;

    border: 1px solid black;

    text-align: center;
    align-items: center;
    position: absolute;
    top: 24px;
    left: 24px;
}

.squad1{
    position: absolute; 
}

.squad2{
    position: absolute;
    right: 10px;
}

.squad3{
    position: fixed;
    bottom: 10px;
    left: 625px ;
}
